.MuiCard-root.card {
  position: relative;

  .MuiCardMedia-root.card__image {
    height: 200px;
  }

  &:hover .MuiCardActions-root.card__actions {
    display: flex;
  }

  .MuiCardActions-root.card__actions {
    display: none;
    position: absolute;
    top: 0;
    right: 0;
  }

  .MuiIconButton-root.icon-button {
    background-color: #4a148c;
    color: #fff;

    &:hover {
      background-color: #330e62;
    }
  }
}

.MuiTypography-root {
  &.card__title {
    font-size: 1.6rem;
    font-weight: 700;
  }

  &.card__text {
    font-size: 1.15rem;
    color: #757575;
  }
}
