$spacing: 8;
$space: (1, 2, 3, 4, 5);
$sides: (top, right, bottom, left);

@each $space in $space {
  @each $side in $sides {
    .m#{str-slice($side, 0, 1)}-#{$space} {
      margin-#{$side}: #{$space * $spacing}px !important;
    }

    .p#{str-slice($side, 0, 1)}-#{$space} {
      padding-#{$side}: #{$space * $spacing}px !important;
    }
  }
}

body {
  background-color: #fafafa;
}
